packages/scada/examples/faceplate-pid-rbac.json
[
    {
        "id": "scada-ui-base",
        "type": "ui-base",
        "z": "scada-faceplate-tab",
        "name": "SCADA Demo UI",
        "path": "/scada",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "scada-ui-theme",
        "type": "ui-theme",
        "z": "scada-faceplate-tab",
        "name": "HP-HMI Theme",
        "colors": {
            "surface": "#f5f5f5",
            "primary": "#546e7a",
            "bgPage": "#eeeeee",
            "groupBg": "#e0e0e0",
            "groupOutline": "#bdbdbd"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "6px"
        }
    },
    {
        "type": "tab",
        "label": "SCADA Faceplate \u2014 PID + RBAC",
        "id": "scada-faceplate-tab",
        "info": "## PID Faceplate with RBAC Example\n\nDemonstrates the `ui-scada-faceplate` node with server-side RBAC and audit logging.\n\n### What it shows\n- **PID faceplate** (TIC-101): process variable, setpoint, control mode, status\n- **Setpoint entry** with engineering limits (0\u2013100) enforced server-side\n- **Auto / Manual** mode buttons with write-confirmation dialog\n- **Server-side RBAC**: all writes are deny-by-default; the browser cannot bypass the gate\n- **Audit output**: every write attempt (allowed or denied) emits a structured audit record\n\n### How the data flows\n```\nInject (2 s) \u2192 PID state simulator \u2192 ui-scada-faceplate\n                                          \u251c\u2500 Output 1 (allowed write/state) \u2192 Debug\n                                          \u2514\u2500 Output 2 (audit record)         \u2192 Debug\n```\n\n### RBAC in this example\nWithout FlowFuse or adminAuth configured, `msg._client.user` is absent, so all operator button presses are denied and appear on the audit output with `result: DENIED, reason: role-not-authorized`.\n\nTo permit writes during development, add a function node before the faceplate that injects a mock user:\n```javascript\nmsg._client = { user: { role: 'operator', username: 'test' } };\nreturn msg;\n```\n\n### Compliance\n- IEC 62443-4-2 CR 2.1 (Authorization enforcement)\n- IEC 62443-4-2 CR 2.8 / 2.9 (Audit events / storage)\n- ISA-101 write-confirmation requirement",
        "disabled": false
    },
    {
        "id": "scada-faceplate-inject",
        "type": "inject",
        "z": "scada-faceplate-tab",
        "name": "Seed PID state (every 2 s)",
        "info": "Triggers the state simulator every 2 seconds.\nIn production, replace this + the function node with your protocol source (OPC UA, Modbus, etc.).",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "scada-faceplate-state"
            ]
        ]
    },
    {
        "id": "scada-faceplate-state",
        "type": "function",
        "z": "scada-faceplate-tab",
        "name": "PID state simulator",
        "info": "Produces a normalized state payload for the faceplate, including alarm/interlock fields used by the v1 safety path.",
        "func": "// Simulate a slowly oscillating PV around the setpoint\nvar t = Date.now() / 12000;\nvar pv = 47.2 + 3 * Math.sin(t);\nvar alarmState = pv > 49.8 ? 'UNACK' : 'NORMAL';\nmsg.payload = {\n    pv:        Math.round(pv * 10) / 10,\n    sp:        50.0,\n    mode:      'AUTO',\n    status:    alarmState === 'NORMAL' ? 'RUNNING' : 'TRIPPED',\n    interlock: false,\n    interlocks: [],\n    permissives: [\n        { id: 'loop-healthy', label: 'Loop healthy', ok: true }\n    ],\n    alarm: {\n        state: alarmState,\n        priority: alarmState === 'NORMAL' ? 'LOW' : 'HIGH',\n        message: alarmState === 'NORMAL' ? '' : 'PV high',\n        active: alarmState !== 'NORMAL',\n        source: 'TIC-101.PV'\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "scada-faceplate-node"
            ]
        ]
    },
    {
        "id": "scada-faceplate-node",
        "type": "ui-scada-faceplate",
        "z": "scada-faceplate-tab",
        "name": "TIC-101 Faceplate",
        "group": "scada-faceplate-group",
        "width": "4",
        "height": "5",
        "label": "TIC-101",
        "template": "pid",
        "min": "0",
        "max": "100",
        "allowRoles": "operator, supervisor, engineer",
        "includeClientData": true,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "scada-faceplate-allowed-debug"
            ],
            [
                "scada-faceplate-audit-debug"
            ]
        ],
        "rateLimit": "10",
        "ackRoles": "operator, supervisor, engineer",
        "shelveRoles": "supervisor, engineer",
        "oosRoles": "engineer",
        "shelveDurationMs": "1800000"
    },
    {
        "id": "scada-faceplate-allowed-debug",
        "type": "debug",
        "z": "scada-faceplate-tab",
        "name": "Output 1 \u2014 allowed write / state",
        "info": "Shows messages that passed RBAC.\nIn production, wire this to your protocol write node (OPC UA write, Modbus FC06, MQTT publish, etc.).",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "scada-faceplate-audit-debug",
        "type": "debug",
        "z": "scada-faceplate-tab",
        "name": "Output 2 \u2014 audit record (all attempts)",
        "info": "Shows every write attempt \u2014 allowed AND denied. Audit records include timestamp, correlationId, user, role, equipmentId, action, oldValue, newValue, payload, confirmationResult, result, and reason.",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "scada-faceplate-page",
        "type": "ui-page",
        "z": "scada-faceplate-tab",
        "name": "PID Faceplate Demo",
        "ui": "scada-ui-base",
        "path": "/faceplate",
        "icon": "mdi-tune-vertical",
        "layout": "grid",
        "theme": "scada-ui-theme",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "scada-faceplate-group",
        "type": "ui-group",
        "z": "scada-faceplate-tab",
        "name": "TIC-101 Control",
        "page": "scada-faceplate-page",
        "width": "4",
        "height": "5",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    }
]
